body {
    background-image: url("images/food-wallpaper-background.jpg");
    background-attachment: fixed;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    padding: 10px 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);
    color: #D9B18F;

}

.container h1 .title-brown{
color: #D9B18F;
font-family: "Script MT", "Brush Script Std", "cursive";

}

.container h1 .green-word{
    color: #8FA63C;
    font-family: "Courier", monospace;

    }

.col-sm-4 {
    font-weight: lighter;
}


.col-sm-5 {
    text-align: center;
    font-family: "Courier", monospace;
    align-items: center;
    margin: 20px auto;

}

.col-sm-4-title {
    font-size: x-large;
    color: #8FA63C;
    font-family: 'Courier New', Courier, monospace;
}

.recipe-images {
    font-size: x-large;
    text-align: center;
    align-content: center;
    padding: 10px 10%;
    text-decoration: double;
}

.recipe-info {
    background: #D9B18F;
    text-decoration: #D9B18F;
    text-align: center;
    grid-column: 2 / 10;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);
    color: #D9B18F;
}


.recipe-duration {
    text-align: center;
    background-color: rgba(0,0,0,.7);
    color: #D9B18F;
    text-decoration: #D9B18F;
    grid-column: 2 / 10;
    padding: 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 50px;
    border-radius: 15px;
}

.Recipe-Title-1 {
    text-align: center;
    text-decoration: double;
}

.StepsTitles {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #8FA63C;
}

.Ingredients-Description {
    grid-column: 2 / 10;
    padding: 1rem;
    color: #D9B18F;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 50px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);

}

.Method-Description {
    grid-column: 2 / 10;
    padding: 3rem;
    color: #D9B18F;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 100px;
    padding-top: 2rem;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);

}

.more-images {
    text-align: center;
    padding: 20px 10%;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: rgba(0,0,0,.7);
    color: #D9B18F;
}

.btn-to-top {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #8FA63C;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    background-color: rgba(0,0,0,.7);
    transition: 0.5s;
    font-weight: 800;
    color: #D9B18F;
}

.btn-to-top:hover{
    background: #9b6d36;
    color: #FFE4C4;
}


.btn:hover{
    background: #9b6d36;
    color: #FFE4C4;
}

/* pop up */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #9b6d36;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }

  /* pop up stop */